<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Квест "Форт Боярд"</title>
    <meta name="description" content="Здесь вы можете заказать Landing Page максимально дешево и быстро.
    Всего за 4000 рублей вы получите адаптивную и современную посадочную страницу, которая выведет ваш бизнес на новый уровень.">

    <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="/slick/slick.css" />
    <link rel="stylesheet" href="/odometer/themes/odometer-theme-minimal.css">

    <link rel="stylesheet" type="text/css" href="/public/css/custom.css">
</head>

<body id="top">

<nav class="navbar navbar-expand-lg fixed-top pt-md-0 pb-md-0">
    <div class="container pl-md-0 pr-md-0">
        <a class="navbar-brand text-semibold pt-0 pb-0" href="#top"><img class="w-75" src="/public/assets/logo_new_0.png"></a>
        <button class="navbar-toggler text-blue" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse d-lg-flex flex-lg-row-reverse" id="navbarSupportedContent">
            <ul class="nav navbar-nav text-regular text-primary">



                <li class="nav-item">
                    <a class="nav-link" href="#about">О квесте</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sales">Скидки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cert">Сертификат</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Контакты</a>
                </li>
                <li class="nav-item ml-lg-2">
                    <a class="nav-link callToAction btn" href="#book">Забронировать</a>
                </li>

            </ul>

        </div>
    </div>
</nav>





<div class="main">
    <div class="container d-flex align-items-center pl-md-0 pr-md-0">
        <div class="row zeroMargin">
            <div class="col-12 col-lg-10 col-xl-8 offset-xl-2 offset-lg-1">
                <div class="row zeroMargin">
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center
                        justify-content-center justify-content-md-start hidden-md-up">
                <div class="text-center text-md-left pl-md-0 pr-md-0">
                    <video autoplay="true" class="w-100 mt-4">
                        <source src="/public/assets/videocoded1.mp4">
                    </video>

                </div>

            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start pl-md-0 pr-md-0">

                <div class="text-center mb-4">
                    <h1 class="mb-0 yellow">первый в омске </h1>
                    <h4 class="d-block white">Спортивный квест по мотивам известной телепередачи</h4>
                    <a class="mt-4 nav-link callToAction btn d-inline-block" href="#book">Принять участие</a>

                </div>
            </div>
            <div class="col-12 col-md-6  d-flex align-items-center justify-content-end
                        hidden-sm-down pl-md-0 pr-md-0">
                <div class="text-center text-md-left">
                    <video autoplay="true" class="w-100">
                        <source src="/public/assets/videocoded1.mp4">
                    </video>

                </div>

            </div>
        </div>
    </div>

</div>

<div class="questInfo bg-pic topBottonPadding" id="about">
    <div class="container pl-md-0 pr-md-0">
        <div class="row zeroMargin">
            <div class="col-12 zeroPadding">



                <div class="row zeroMargin">
                    <div class="col-12 text-center" style="margin-bottom: 0px">
                        <h1>Квест форт боярд - это</h1>
                    </div>
                    <div class="col-12 zeroPadding">
                        <div class="row zeroMargin mb-6">
                            <ul class="d-flex justify-content-between list-unstyled hidden-sm-down-main">
                                <li><div class=" text-center numbers mb-3">
                                        <h1 class="odometer" data-number="10"></h1>
                                        <h4>Комнат</h4>
                                    </div></li>
                                <li><div class="text-center numbers mb-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <h1 class="odometer d-inline-block" data-number="150"></h1> <h1 class="d-inline-block"><b><small>&nbsp;м<sup>2</sup></small></b></h1>
                                        </div>

                                        <h4>игрового пространства</h4>
                                    </div></li>
                                <li><div class="text-center numbers mb-3">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <h1 class="d-inline-block"><b><small>до&nbsp;</small></b></h1> <h1 class="odometer d-inline-block" data-number="7"></h1>
                                        </div>


                                        <h4>игроков</h4>
                                    </div></li>
                                <li><div class=" text-center numbers mb-3">
                                        <h1 class="odometer" data-number="90"></h1>
                                        <h4>минут</h4>
                                    </div></li>
                            </ul>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center numbers mb-3 hidden-md-up-main">
                                <h1 class="odometer" data-number="10"></h1>
                                <h4>Комнат</h4>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center numbers mb-3 hidden-md-up-main">
                                <div class="d-flex align-items-center justify-content-center">
                                    <h1 class="odometer d-inline-block" data-number="150"></h1> <h1 class="d-inline-block"><b><small>&nbsp;м<sup>2</sup></small></b></h1>
                                </div>
                                <h4>игрового пространства</h4>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center numbers mb-3 hidden-md-up-main">
                                <div class="d-flex align-items-center justify-content-center">
                                    <h1 class="d-inline-block"><b><small>до&nbsp;</small></b></h1> <h1 class="odometer d-inline-block" data-number="7"></h1>
                                </div>
                                <h4>игроков</h4>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 text-center numbers mb-3 hidden-md-up-main">
                                <h1 class="odometer" data-number="90"></h1>
                                <h4>минут</h4>
                            </div>


                        </div>
                        <div class="row mb-3 zeroMargin">
                            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start pr-lg-5 pl-md-0">
                                <img class="fortLogo" src="/public/assets/fortLogo.png">
                            </div>
                            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-end zeroPadding">
                                <div>
                                    <p class="mb-2">Цель квеста - охота за сокровищами Форта Боярд. При прохождении испытаний вы будете получать ключи, с помощью которых попадете в сокровищницу, и подсказки, которые помогут разгадать кодовое слово для получения доступа к золоту Форта Боярд. После появления золота у вас будет определенное количество времени, чтобы собрать как можно больше золотых монет в чашу.</p>
                                </div>

                            </div>
                        </div>

                        <div class="row zeroMargin">

                            <div class="col-12 text-center mt-5" style="margin-bottom: 17px">
                                <h1>В Этом квесте вам предстоит</h1>
                            </div>
                            <div class="col-12 pl-md-0 pr-md-0">

                                <ul class="iconList list-unstyled list-inline  text-center w-100">
                                    <li class="list-inline-item">
                                        <img src="/public/assets/icon1_gold.png" class="mb-3">
                                        <h4>Карабкаться</h4>
                                    </li>
                                    <li class="list-inline-item">
                                        <img src="/public/assets/icon2_gold.png" class="mb-3">
                                        <h4>Прыгать</h4>
                                    </li>
                                    <li class="list-inline-item">
                                        <img src="/public/assets/icon3_gold.png" class="mb-3">
                                        <h4>Ползать</h4>
                                    </li>
                                    <li class="list-inline-item">
                                        <img src="/public/assets/icon4_gold.png" class="mb-3">
                                        <h4>Думать</h4>
                                    </li>
                                    <li class="list-inline-item">
                                        <img src="/public/assets/icon5_gold.png" class="mb-3">
                                        <h4>Действовать сообща</h4>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

</div>


<div class="gallery topBottonPadding " id="galery">
    <div class="container-fluid pl-md-0 pr-md-0">
        <div class="row zeroMargin">
            <div class="col-12 col-sm-12  text-center">
                <div class="slider-for zeroPadding">
                    <div class="imgContainer d-flex align-items-center">
                        <img src="/public/assets/image1.png" class="w-100">
                    </div>
                    <div class="imgContainer d-flex align-items-center">
                        <img src="/public/assets/image2.png" class="w-100">
                    </div>
                    <div class="imgContainer d-flex align-items-center">
                        <img src="/public/assets/image3.png" class="w-100">
                    </div>
                    <div class="imgContainer d-flex align-items-center">
                        <img src="/public/assets/image4.png" class="w-100">
                    </div>
                    <div class="imgContainer d-flex align-items-center">
                        <img src="/public/assets/image5.png" class="w-100">
                    </div>
                </div>

            </div>
        </div>
    </div>



</div>

<div class="testimonialsContainer yellow topBottonPadding" id="reviews">
    <div class="container zeroPadding">
        <div class="row zeroMargin">
            <div class="col-12 text-center mb-6">
                <h1>ОТзывы</h1>
            </div>
            <div class="col-12 text-center d-flex justify-content-center zeroPadding">
                <div class="testimonialsSlider">
                    <div class="testimonial-item">

                        <div class="tm-image bg-image" style="background-image: url('https://vk.com/doc10551489_463747522?hash=c60217c75d9dc53f39&dl=8068dbcdf0da9c0dcf&wnd=1');background-position: 50% 50%;"></div>
                        <blockquote>
                            <p>Всем срочно идти на Форт Боярд))) офигенный спортивный квест. Просто 10 из 10. Идеально изобрели, окунулся в детство. Не хватало только карлика Паспарту, а так все очень грамотно построили!!! Делайте еще подобные спортивные квесты.</p>
                            <a href="#"><small class="text-white">Антон Стогов</small></a>
                        </blockquote>
                    </div>
                    <div class="testimonial-item">

                        <div class="tm-image bg-image" style="background-image: url('https://vk.com/doc10551489_463747524?hash=5cccdd0cd3074a6b1c&dl=49eeb7bb79ca2cea9d&wnd=1'); background-position: 50% 50%;"></div>

                        <blockquote>
                            <p>Участвовали в квесте "Форт Боярд"!!! Ребята, всем советую. Интересные задания, в которых можно проверить свою физическую готовность и умение логически мыслить в сложных ситуациях!!! Буря эмоций, море впечатлений и океан смеха!!! Огромное спасибо организаторам за отлично проведённое время!!!</p>
                            <a href="#"><small class="text-white">Бибигуль Альжанова</small></a>
                        </blockquote>
                    </div>
                    <div class="testimonial-item">

                        <div class="tm-image bg-image" style="background-image: url('https://vk.com/doc10551489_463747525?hash=e17777a65beeddc86f&dl=d5a317a24816795647&wnd=1'); background-position: 50% 50%;"></div>

                        <blockquote>
                            <p>Наша команда "мы" прошли квест Форд Боярд за 1 час 47 минут. Мы не стремились пройти за меньшее кол-во времени, а получали огромное удовольствие от участия! Такой квест отдых для ума. Эдакая детская игровая комната для взрослых:) Вообщем, эмоции только положительные! Я с самого первого дня, как посмотрела ТВ-шоу мечтала стать его участником, хоть тут мы и не прыгали на тарзанке в море, но было много неожиданного :) спасибо организаторам!!!</p>
                            <a href="#"><small class="text-white">Юлия Голубенко</small></a>
                        </blockquote>
                    </div>
                    <div class="testimonial-item">

                        <div class="tm-image bg-image" style="background-image: url('https://vk.com/doc10551489_463747526?hash=4d3df6e0ded796cf69&dl=773ee84923a3f263e2&wnd=1'); background-position: 50% 50%;"></div>

                        <blockquote>
                            <p>Мы были из первых счастливчиков кто попал на квест "Форт Боярд". Ребята встретили, выдали инвентарь (который очень нам помог) для игры, провели инструктаж и мы отправились)) Всем рекомендую!!! Задания есть на смекалку и кое-где нужно попрыгать и побегать, все настолько увлекательно и затягивает, что полтора часа пролетело просто незаметно!!! Организаторы молодцы!!! Ждём новых квестов)))</p>
                            <a href="#"><small class="text-white">Инна Буякова</small></a>
                        </blockquote>
                    </div>
                    <div class="testimonial-item">

                        <div class="tm-image bg-image" style="background-image: url('https://vk.com/doc10551489_463747527?hash=817064fa1365e150cc&dl=9c177d16c091026b1f&wnd=1'); background-position: 50% 50%;"></div>

                        <blockquote>
                            <p>Посетили, самый крутой квест "Форт Боярд". Квест очень интересный, объединил нас и мы работали слажено. Хоть квест и спортивный, задания на логику тоже присутствуют. Впечатления до сих пор нас переполняют, эмоций куча. Хотелось бы ещё таких локаций.</p>
                            <a href="#"><small class="text-white">Татьяна Финк</small></a>
                        </blockquote>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="booking topBottonPadding" id="book">
    <div class="container pl-md-0 pr-md-0">
        <div class="row zeroMargin">
            <div class="col-12 text-center mb-6 pl-0 pr-0">
                <h1>Бронирование</h1>
                <h4>(Цена за человека)</h4>
            </div>
            <div class="col-12 pl-md-0 pr-md-0 hidden-md-up">
                <table class="table table-responsive text-center">


                    <tr>
                        <% var l = dates.length-1%>
                        <% if (l>14) l = 14;%>
                        <% for (var i=0; i<l; i++) { %>
                        <td>
                            <h1 class="mb-0"><%= dates[i].dayNum%></h1>
                            <h2 class="mb-3"><%= ruDays[dates[i].dayIndex]%></h2>
                        </td>
                        <% }%>

                    </tr>

                    <% times.forEach(function (time) { %>
                    <tr>
                        <% var l = dates.length-1%>
                        <% if (l>14) l = 14;%>
                        <% for (var i=0; i<l; i++) { %>
                        <td>
                            <% var d = data.find(x=>(x.date == dates[i].dateStr && x.time == time));%>
                            <% if(d != undefined) { %>

                            <div class="timeContainer ">

                                <%if (d.is_free) { %>
                                <button class="time bookGameBtn" data-day="<%=d.date.split('-')[2]%>"
                                        data-month="<%=d.date.split('-')[1]%>"
                                        data-date="<%=d.date%>"
                                        data-time="<%=time%>"
                                        data-pperson="<%=d.q1extra%>">
                                    <h3 class="mb-0"><%=time%></h3>
                                </button>

                                <% } else { %>
                                <div class="time disabled">
                                    <h3 class="mb-0"><%=time%></h3>
                                </div>
                                <%}%>
                                <p><%=d.q1extra%> <span>₽</span></p>
                            </div>
                            <% } %>
                        </td>
                        <% } %>
                    </tr>
                    <%});%>


                </table>
            </div>
            <div class="col-12 pl-md-0 pr-md-0 hidden-sm-down">
                <div class="bookingSlick ">
                    <div>
                        <table class="table table-responsive-md text-center">

                            <tr>
                                <% for (var i=0; i<7; i++) { %>
                                <td>
                                    <h1 class="mb-0"><%= dates[i].dayNum%></h1>
                                    <h2 class="mb-3"><%= ruDays[dates[i].dayIndex]%></h2>
                                </td>
                               <% }%>

                            </tr>

                            <% times.forEach(function (time) { %>
                                <tr>
                                    <% for (var i=0; i<7; i++) { %>
                                    <td>
                                        <% var d = data.find(x=>(x.date == dates[i].dateStr && x.time == time));%>
                                        <% if(d != undefined) { %>

                                        <div class="timeContainer ">

                                            <%if (d.is_free) { %>

                                            <button class="time bookGameBtn" data-day="<%=d.date.split('-')[2]%>"
                                                    data-month="<%=d.date.split('-')[1]%>"
                                                    data-date="<%=d.date%>"
                                                    data-time="<%=time%>"
                                                    data-pperson="<%=d.q1extra%>">
                                                <h3 class="mb-0"><%=time%></h3>
                                            </button>


                                            <% } else { %>
                                            <div class="time disabled">
                                                <h3 class="mb-0"><%=time%></h3>
                                            </div>
                                            <%}%>
                                            <p><%=d.q1extra%> <span>₽</span></p>
                                        </div>
                                        <% } %>
                                    </td>
                                   <% } %>
                                </tr>
                            <%});%>



                        </table>

                    </div>
                    <div>
                        <table class="table table-responsive-md text-center">

                            <tr>
                                <% var l = dates.length-1%>
                                <% if (l>14) l = 14;%>
                                <% for (var i=7; i<l; i++) { %>
                                <td>
                                    <h1 class="mb-0"><%= dates[i].dayNum%></h1>
                                    <h2 class="mb-3"><%= ruDays[dates[i].dayIndex]%></h2>
                                </td>
                                <% }%>

                            </tr>


                            <% times.forEach(function (time) { %>
                            <tr>
                                <% var l = dates.length-1%>
                                <% if (l>14) l = 14;%>
                                <% for (var i=7; i<l; i++) { %>
                                <td>
                                    <% var d = data.find(x=>(x.date == dates[i].dateStr && x.time == time));%>
                                    <% if(d != undefined) { %>

                                    <div class="timeContainer ">

                                        <%if (d.is_free) { %>

                                            <button class="time bookGameBtn" data-day="<%=d.date.split('-')[2]%>"
                                                                             data-month="<%=d.date.split('-')[1]%>"
                                                                             data-date="<%=d.date%>"
                                                                             data-time="<%=time%>"
                                                                             data-pperson="<%=d.q1extra%>">
                                                <h3 class="mb-0"><%=time%></h3>
                                            </button>


                                        <% } else { %>
                                        <div class="time disabled">
                                            <h3 class="mb-0"><%=time%></h3>
                                        </div>
                                        <%}%>
                                        <p><%=d.q1extra%> <span>₽</span></p>
                                    </div>
                                    <% } %>
                                </td>
                                <% } %>
                            </tr>
                            <%});%>

                        </table>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="row additionalInfo zeroMargin">
    <div class="col-12 zeroPadding text-center">
        <div id="accordion">

            <div class="card" id="needed">

                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 ">
                        <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Что нужно для прохождения квеста
                        </button>
                    </h5>
                </div>
                <div class="container pl-md-0 pr-md-0">
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                        <div class="card-body row zeroMargin pl-md-0 pr-md-0 pt-5 pb-5">
                            <div class="col-12">
                                <div class="row topBottonPadding pl-md-0 pr-md-0 zeroMargin">
                                    <div class="col-12 col-md-4  pl-md-0 pr-md-0 justify-content-center justify-content-md-start d-flex align-items-center  mb-4">
                                        <img src="/public/assets/icon_wear.png" class="w-100">
                                    </div>
                                    <div class="col-12 col-md-8  pl-md-0 pr-md-0 text-md-left d-flex align-items-center mb-4">
                                        <p>
                                            Чтобы принять участие в квесте «Форт Боярд» каждому участнику необходимо взять с собой удобную сменную обувь и одежду, например, кроссовки, спортивные штаны и футболку. После квеста вы, скорее всего, выйдете вспотевшими, поэтому будете несказанно рады тому факту, что в шкафчике вас ждет сухая уличная одежда, в которой вы пришли. У нас есть раздевалка, где вы можете с комфортом переодеться. Рекомендуем приезжать к нам примерно за 15 минут до начала сеанса, чтобы все успели переодеться и приготовиться к началу квеста вовремя.
                                        </p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="card" id="age">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            возрастные ограничения
                        </button>
                    </h5>
                </div>
                <div class="container pl-md-0 pr-md-0">

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body row zeroMargin pl-md-0 pr-md-0">
                            <div class="col-12 pl-md-0 pr-md-0 pt-1 pb-1">

                                <div class="row pl-md-0 pr-md-0 zeroMargin">
                                    <div class="col-12 col-md-6  pl-md-0 pr-md-4 text-center justify-content-start d-flex align-items-center   flex-column">
                                        <img src="/public/assets/icon_pg14.png" class="w-100 mb-4 ">
                                        <p class="mb-4 mb-md-0">
                                            С 14 лет играть в квест «Форт Боярд» можно без участия взрослых. Если в команде есть лица младше 14 лет, то для прохождения квеста необходимо, чтобы в команде были люди старше 18 лет, по одному человеку на каждого ребенка младше 14 лет.
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-6 pl-md-4 pr-md-0 text-center justify-content-start d-flex align-items-center   flex-column">
                                        <img src="/public/assets/icon_pg12.png" class="w-100 mb-4 ">
                                        <p>
                                            Команды, состоящие из детей от 12 до 14 лет могут поиграть в квест «Форт Боярд» со взрослыми, либо с аниматором. Аниматор всю игру будет находиться вместе с командой и помогать в прохождении квеста. За аниматора взимается дополнительная плата - 500 рублей.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card" id="sales">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            скидки и акции
                        </button>
                    </h5>
                </div>
                <div class="container pl-md-0 pr-md-0">

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body row zeroMargin pl-md-0 pr-md-0">
                            <div class="col-12 pl-md-0 pr-md-0 pt-1 pb-1">

                                <ul class="salesList list-unstyled list-inline">
                                    <li class="list-inline-item">
                                        <div>
                                            <img src="/public/assets/icon_price_repost.png" class="w-100 mb-3">
                                            <h3 class="mb-0">Скидка 10%</h3>
                                            <p>за репост о нас в VK</p>
                                        </div>

                                    </li>
                                    <li class="list-inline-item">
                                        <div>
                                            <img src="/public/assets/Icon_price_school.png" class="w-100 mb-3">
                                            <h3 class="mb-0">Скидка 20%</h3>
                                            <p>школьникам</p>
                                        </div>

                                    </li>
                                    <li class="list-inline-item">
                                        <div>
                                            <img src="/public/assets/Icon_price_student.png" class="w-100 mb-3">
                                            <h3 class="mb-0">Скидка 20%</h3>
                                            <p>студентам</p>
                                        </div>

                                    </li>
                                    <li class="list-inline-item">
                                        <div>
                                            <img src="/public/assets/icon_price_birthday.png" class="w-100 mb-3">
                                            <h3 class="mb-0">Скидка 30%</h3>
                                            <p>именинникам в течение 7 дней</p>
                                        </div>

                                    </li>
                                    <li class="list-inline-item">
                                        <div>
                                            <img src="/public/assets/icon_price_repeat.png" class="w-100 mb-3">
                                            <h3 class="mb-0">Скидка 50%</h3>
                                            <p>на повторное посещение</p>
                                        </div>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="cert">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            подарочный сертификат
                        </button>
                    </h5>
                </div>
                <div class="container pl-md-0 pr-md-0">

                    <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body row zeroMargin pl-md-0 pr-md-0 ">
                            <div class="col-12 zeroPadding">

                                <div class="row zeroMargin pl-md-0 pr-md-0 pt-2 pb-2">
                                    <div class="col-12 col-md-4 justify-content-center d-flex align-items-center justify-content-md-start pl-md-0 pr-md-0  mb-4 mb-md-0 zeroPadding">
                                        <img src="/public/assets/present_key.jpg" class="w-100">

                                    </div>
                                    <div class="col-12 col-md-8 pt-5 pb-5 justify-content-center d-flex align-items-start pl-md-0 pr-md-0  flex-column text-ce text-left pl-0 pl-md-5">
                                        <p class="mb-2">
                                            Подарочный сертификат в виде ключей с брелоком на спортивный квест «Форт Боярд» Изоляции в Омске.
                                        </p>
                                        <p class="mb-2">
                                            Стоимость сертификата на квест «Форт Боярд» зависит от количества человек в команде:
                                        </p>
                                        <ul class="list-unstyled">
                                            <li>
                                                <p>Для 3 человек — 2400 рублей</p>
                                            </li>
                                            <li>
                                                <p>Для 4 человек — 3200 рублей</p>
                                            </li>
                                            <li>
                                                <p>Для 5 человек — 4000 рублей</p>
                                            </li>
                                            <li>
                                                <p>Для 6 человек — 4800 рублей</p>
                                            </li>
                                        </ul>
                                        <p class="mb-4 mb-md-0">
                                            На сертификат действует бесплатная доставка по Омску. Заказать доставку можно по номеру 29-43-83.
                                        </p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="contacts topBottonPadding" id="contacts">
    <div class="container pl-md-0 pr-md-0">
        <div class="row zeroMargin">
            <div class="col-12 text-center mb-6">
                <h1>Контакты</h1>

            </div>
            <div class="col-12 col-md-7 pl-md-0 mb-5 mb-md-0">
                <div class="row zeroMargin">
                    <iframe style="max-height: 50vh" src="https://yandex.ru/map-widget/v1/?um=constructor%3A4b847d7bcdb0bd4528bc86005bbaf8642e5499f1004a85d3f90488a61412980a&amp;source=constructor" width="100%" height="300" frameborder="0"></iframe>

                </div>
            </div>
            <div class="col-12 col-md-5 text-center zeroPadding d-flex flex-column justify-content-center align-items-md-end">
                <h1>ул. Чкалова, 40</h1>

                <small>Контактный телефон</small>
                <h2><a class="tel" href="tel:83812294383">+7 (3812) 29-43-83</a></h2>
                <small>Email</small>
                <h2><a class="mail" href="mailto:support@izolate55.ru">support@izolate55.ru</a></h2>
            </div>

        </div>
    </div>

</div>

<div class="footer bg-black p-4">
    <div class="container">
        <div class="row zeroMargin">

            <div class="col-12 zeroPadding">
                <div class="row zeroMargin">
                    <div class="offset-3 col-6 col-md-3 offset-md-0 pl-4 d-flex align-items-center mb-4 mb-md-0 pl-md-0">
                        <img src="/public/assets/logo_footer.png" class="w-100">
                    </div>
                    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start pl-md-5">
                        <div class="w-100">
                            <div>
                                <ul class="d-inline-block float-left list-unstyled mr-6 ml-md-5 mb-0">
                                    <li><a href="#about" class="text-white">О квесте</a></li>
                                    <li><a href="#galery" class="text-white">Фотографии</a></li>
                                    <li><a href="#reviews" class="text-white">Отзывы</a></li>
                                    <li><a href="#book" class="text-white">Бронирование</a></li>
                                </ul>
                                <ul class="d-inline-block float-left float-sm-right float-md-left list-unstyled mb-4 text-left text-sm-right text-md-left">
                                    <li><a href="#needed" class="text-white">Что нужно для игры?</a></li>
                                    <li><a href="#age" class="text-white">Возрастные ограничения</a></li>
                                    <li><a href="#sales" class="text-white">Скидки и акции</a></li>
                                    <li><a href="#cert" class="text-white">Подарочный сертификат</a></li>
                                </ul>


                            </div>
                            <div>
                                <ul class="list-unstyled list-inline withIcons text-md-center mr-md-4">
                                    <li class="list-inline-item mr-md-4"><span class="text-white"><i class="fas fa-phone"></i> <a class="tel" href="tel:83812294383">+7 (3812) 29-43-83</a></span></li>
                                    <li class="list-inline-item  mb-4 mb-md-0  float-right float-md-none"><span class="text-white"><i class="fas fa-map-marker"></i> ул. Чкалова, 40</span></li>
                                </ul>
                                <div class="mt-2  hidden-sm-down text-md-center mr-md-4">
                                    <a href="https://rocketwebsites.ru" class="text-secondary  " target="_blank">Сайт сделан студией Rocket Websites</a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center align-items-md-end flex-column zeroPadding">
                        <div id="vk_groups"></div>
                        <div class="mt-2 hidden-md-up">
                            <a href="https://rocketwebsites.ru" class="text-secondary  " target="_blank">Сайт сделан студией Rocket Websites</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="bookModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Забронировать игру</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="post" id="bookingForm">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Имя героя:</label>
                                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" required>
                                <small id="nameHelp" class="form-text text-muted">Будет высечено в зале славы</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Номер телефона:</label>
                                <input type="tel" class="form-control" id="tel" aria-describedby="telHelp" placeholder="+7 " required>
                                <small id="telHelp" class="form-text text-muted">Должны же мы с вами связаться</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email:</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                                <small id="emailHelp" class="form-text text-muted">Никакого спама!</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Количество игроков:</label>
                                <select class="form-control" id="numOfPlayers" aria-describedby="numOfPlayersHelp" required>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                                <small id="numOfPlayersHelp" class="form-text text-muted">Какое приключение без друзей?</small>
                            </div>
                            <input type="number" hidden id="price">


                        </div>
                        <div class="col-12 col-md-6 text-left text-md-right d-flex flex-column justify-content-center">

                            <div class="mb-3">
                                <label>Адрес</label>
                                <h2>ул. Чкалова, 40</h2>
                            </div>
                            <div class="mb-3">
                                <label>Телефон для связи</label>
                                <h2><a class="tel" href="tel:83812294383">+7 (3812) 29-43-83</a></h2>
                            </div>
                            <div class="mb-3">
                                <label>Дата и время</label>
                                <h2 class="bookDateAndTime">12 февраля, 12:20</h2>
                            </div>
                            <div class="mb-3">
                                <label>Стоимость</label>
                                <div class="d-flex align-items-center justify-content-md-end justify-content-start">
                                    <h1 class="price odometer d-inline-block" style="font-weight: 700"></h1><h1 style="font-weight: 200" class="d-inline-block">₽</h1>
                                </div>

                            </div>
                        </div>

                        <div class="col-12">
                            <input type="submit" value="ЗАБРОНИРОВАТЬ" class="w-100 d-block mt-4">
                        </div>

                    </div>


                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="successModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Игра успешно забронирована!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>С вами свяжутся в ближайшее время!<p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="errorModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Что то пошло не так</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>При бронировании возникли трудности. Попробуйте позже<p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<script src="/jquery/jquery.min.js"></script>
<script src="/tether/js/tether.min.js"></script>
<script src="/public/bootstrap/dist/js/bootstrap.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

<script src="/slick/slick.js"></script>
<script src="/odometer/odometer.js"></script>
<script src="/public/js/jquery.maskedinput.min.js"></script>



<script src="/public/js/custom.js"></script>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?153"></script>


<script type="text/javascript">
    VK.Widgets.Group("vk_groups", {
        mode: 3,
        no_cover: 1,
        width: "250",
        color1: 'FFC316',
        color3: '000000'
    }, 70369642);

    $("#tel").mask("+7(999) 999-9999");
</script>

<!— Yandex.Metrika counter —>
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48497747 = new Ya.Metrika({
                    id:48497747,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48497747" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!— /Yandex.Metrika counter —>

</body>

</html>
