@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300, 700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');


@font-face {
    font-family: 'Monitorca';
    src: url("fonts/Monitorca-Rg.ttf") format("truetype");
}


body {
    /*    padding-top: 92px;*/
}

body > .container-fluid {
    /*    padding: 0 !important;*/
}

p {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans Condensed', sans-serif;

}

h1 {
    font-weight: 700;
}

a,
button, span, small, label, input, option, select {
    transition: .3s;
    font-family: 'Open Sans Condensed', sans-serif;
}

label, input{
    font-size: 1.25em !important;
}

form small {
    font-size: 1em;
}

form h1 {
    font-size: 3em;
}

form h2 {
    font-size: 1.5em;
}



form input[type=submit] {
    background-color: black;
    color: #ffc316;
    border: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.close {
    opacity: 0.9;
    color: #ffc316;
    text-shadow: none;
    font-size: 2em;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

a:hover,
button:hover {
    text-decoration: none;
}

.navbar {
    /*    background-color: #ffc417;*/
    background-color: black
}

.navbar-brand {
    width: 150px;
}

.navbar a {
    /*    color: black;*/
    color: #ffc316;
    font-size: 18px;
    line-height: 20px
}

.navbar a:hover {
    color: white
}

.navbar-toggler {
    color: #ffc417;
    font-size: 24px;
}

.btn.callToAction {
    background-color: #ffc417;
    color: black;
    font-size: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 10px;
    font-weight: 700;
}

.btn.callToAction:hover {
    background-color: white;
    color: black;
}


.main {
    padding: 6% 5%;
    height: 100vh;
    min-height: 600px;
    background-color: black
}



.main img {
    margin-top: 60px;
    width: 100%;

    max-width: 550px;
}

.main .callToAction {
    font-size: 1.75em;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.main p {
    max-width: 600px;
}

.main h1 {
    font-size: 4em;

}

.main h4 {
    font-size: 2em;
    max-width: 400px
}

.questInfo .fortLogo {
    width: 100%;

    max-width: 550px;
}

.questInfo {

    /*    background-color: #ffc502;*/
}

.questInfo h4 {
    font-weight: 700;
}

.padding {
    padding: 50px 5%;
}

.questInfo small {
    font-size: 0.5em;
}


.questInfo p {
    text-align: justify;
    font-weight: 700;
}

.questInfo .numbers h1 {
    font-size: 5em
}

.questInfo ul {
    width: 100%;
}

.questInfo ul li {
    box-sizing: content-box;
    width: 15%;


}

.questInfo .bg-pic h4 {
    font-weight: 700;
}

.questInfo ul li img {
    width: 100%;

}

.testimonialsContainer {
    background-color: black;
}

.gallery.padding {
    padding: 50px 6%;
}

.gallery .slider-nav .slick-slide {
    padding: 10px;
}



.gallery .slick-arrow {
    color: black;
}

.gallery img {
    transition: .3s;

}



.slick-arrow {
    position: absolute;
    top: 50%;
    background: 0 0;
    border: none;
    color: #bdbbbb;
    z-index: 1;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
    transform: translate(0, -100%);
    padding: 30px;
    cursor: pointer;
}

.slick-arrow:focus {
    outline: none;
}

.slick-prev {
    left: -90px;
}

.slick-next {
    right: -90px;
}

.slick-slide:focus {
    outline: none;
}

.testimonialsSlider {
    width: 100%
}

.testimonialsSlider .slick-arrow {
    top: 70%;

}

.tm-image {

    display: inline-block !important;
    float: none;
    width: 120px;
    height: 120px;
    margin: 0 0 40px 0;
    border-radius: 100px;
    overflow: hidden;
    background-size: cover;
}



.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    box-shadow: none;
    border: 0;
    border-radius: 100%;
    outline: none;

    background: rgba(255, 195, 22, 0.5);
    position: relative;
}

.slick-dots li.slick-active button {



    background: rgba(255, 195, 22, 1);

}

.slick-dots {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.slick-dots li {
    display: inline-block;
    margin: 0 10px;
}

.booking ul {
    width: 100%;
    overflow-x: auto;
}

.mr-6 {
    margin-right: 22.5%;
}

.collapsing {
    transition: height 1s !important;
}
.footer a {
    font-size: 1.25em;
    text-decoration: underline
}

.footer span {
    font-size: 1.25em;
}

.booking p {
    margin-bottom: 0px;
}

.booking tr {
    width: 100%;
}

.modal .btn {
    width: 100%;
    background-color: black;
    color: #ffc316;
    border: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.booking td {
    width: 14%;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.booking thead, .booking tbody {
    width: 100%;
}

.container {
    height: 100%;
}

.container .row {
    width: 100%;
}


.time {
    background-color: #ffc316;
    border-radius: 10px;
    width: 100%;
}

.time.disabled {
    background-color: gainsboro;
}

.time h3 {
    font-weight: 700;
}

button:disabled {
    color: black;
}

.timeContainer p {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 5px;
}

.bookGameBtn {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.bookGameBtn:focus {
    outline: none;
}

.timeContainer p span {
    font-weight: 400;
}

.card {
    border: none;
    background-color: black;
}

.card-header {
    background-color: #ffc316;
    border: none;
}

.card-header button {
    background-color: transparent;
    font-weight: 700;
    font-size: 2em;
    color: black;
    padding: 6px 12px;
        border: none;
    cursor: pointer;
}

.card-header button:focus {
    outline: none;
}

.card-body {

    color: white;
}

.card img {
    max-width: 256px;
}

#collapseOne p {
    font-size: 1.4em;
}

#collapseTwo img {
    max-width: 236px;
}

#collapseTwo p {
    font-size: 1.25em;
}


#collapseThree img {
    max-width: 192.5px;
}

#collapseThree p {
    font-size: 1em
}

#collapse4 img {
    max-width: unset;
}

#collapse4 p {
    font-size: 1.25em
}

/*
.booking tbody {
    max-height: 60vh;
    overflow-y: auto;
    display: block
}

.booking thead {
    overflow-x: auto;
    display: block;
}

.booking tr {
    display: block;
}

.booking thead td {
    padding: 0 21.5px;
}

.booking tbody td {
    width: 1000px;
}
*/

.yellow {
    color: #ffc316 !important;
}

.white {
    color: white !important;
}

.mb-6 {
    margin-bottom: 25px;
}

.bg-yellow {
    background-color: #ffc316 !important;
}

.bg-pic {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://pp.userapi.com/c621701/v621701996/84a81/5t-EbzT_TPI.jpg');

    background-size: cover;
    background-attachment: fixed;
}

.zeroPadding {
    padding: 0 !important;
}

.slick-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.zeroMargin {
    margin: 0 !important;
}

.topBottonPadding {
    padding: 17px 0;
}

.footer a, .footer span{
    font-family: Arial, sans-serif !important;
    font-size: 0.9em;
}

.sidesPadding {
    padding-left: 5%;
    padding-right: 5%;
}

.salesList {
    margin-bottom: 0;
}


.salesList h3 {
    font-weight: 700;
}

.salesList li {
    margin-right: 0 !important;
   
}

.salesList li > div {
    margin-left: auto;
    margin-right: auto;
}

.contacts ul li {
    margin: 0 20px !important;
}

.bg-black {
    background-color: black;
}

.footer ul li a {
    text-transform: none;
}



.modal-header {
    background-color: black;
    color: #ffc316;
}

b small {
    font-weight: 700;
}


@media (min-width: 768px) {
    .hidden-md-up {
        display: none!important;
    }

    .main .col-12:nth-of-type(2) {
        padding-right: 4%;
    }

    .main .col-12:last-of-type {
        padding-left: 4%;
    }

    .gallery .container-fluid {
        padding-left: 7.5% !important;
        padding-right: 7.5% !important;
    }
    

    .gallery .slick-current img {
        transform: scale(3.25);
    }

    .gallery .imgContainer {
        margin: 2.5% 0;
        padding: 0 2%;
        
    }

    .salesList {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .salesList li {
        width: 20%;
        box-sizing: border-box;
        padding: 20px;
        display: inline-flex;

    }



    .salesList li:nth-of-type(2n) {
        margin-top: 75px
    }
}

@media (min-width: 1000px) {
    .iconList {
        display: flex;
        justify-content: space-between;
    }

    .gallery .container-fluid {
        padding-left: 12.5% !important;
        padding-right: 12.5% !important;
    }
}

.tel, .mail{
    color: black;
    text-decoration: underline;
}

input {
    padding: 2% !important;
}

.footer .tel {
    color: white;

}

@media (min-width: 1250px) {
    .hidden-md-up-main {
        display: none!important;
    }
}

@media (max-width: 1250px) {
    .hidden-sm-down-main {
        display: none!important;
    }
}

@media (max-width: 1000px) {
    .questInfo ul li {

        width: 35%;
        margin: 10px 20px !important;

    }
}

@media (max-width: 900px) {
    .slick-arrow {
        display: none !important;
    }
}


@media (max-width: 768px) {
    .hidden-sm-down {
        display: none!important;
    }

    body {
        padding-top: 73px;
    }

    .main {
        padding-bottom: 80px;
        height: calc(100vh - 93px);
        min-height: 768px;
    }

    .salesList li {
        width: 49%;
       
        box-sizing: border-box;
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .salesList li {
        width: 100%;
       
        box-sizing: border-box;
        padding: 20px;
    }
}

@media (max-width:  400px) {
    .withIcons li {
        float: left !important;

    }


}
